node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android
.gradle/
local.properties
*.keystore
*.jks
captures/

# iOS
.generated/
DerivedData/
Pods/
*.moved-aside
*.xccheckout
*.xcscmblueprint
